body {
    background-color: #2A2140;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    grid-template-rows: repeat(1, 1fr);
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}

#app {
    margin: 0 !important;
    padding: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 600px;
    background-image: url("/public/images/background-upd.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    z-index: -1;
    margin: 3px;
}

#title {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#logo-image {
    width: 90%;
    max-width: 600px;
}

#score-tracker {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 30px;
}


.symbol-container {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.symbol {
    height: 150px;
    animation: moveUpDown 3s ease-in-out infinite;
    margin-bottom: 20px;
}

.reactor {
    animation-delay: 0s;
}

.thruster {
    animation-delay: 0.75s;
}

.shield {
    animation-delay: 1.5s;
}

.damage {
    animation-delay: 2.25s;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

#score {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    color: white;
}

.score-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-value {
    font-size: 60px;
    padding-left: 5px;
    padding-right: 5px;
}

#reactor-score {
    color: #74C8E0;
}

#thruster-score {
    color: #FECB3A;
}

#shield-score {
    color: #8DAE46;
}

#damage-score {
    color: #F07D3C;
}


#reset {
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.404);
}

.rotate-reset {
    animation: rotateAnimation .5s linear;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
